{% extends 'includes/base.html' %}

{% load static %}

{%block title%} Hotel Bucaneros Media Luna {% endblock %}

{% block content %}

<body>
    
    <div class="home_contactanos">
    
        <h1 class="text_faqs">CONTÁCTANOS</h1>
    </div>

    <div class="faqs_info">
        <h2 style="text-align:center; margin-top:5vh">PONGASE EN CONTACTO CON NOSOTROS EN HOTEL BUCANEROS MEDIA LUNA</h1>

        <p style="text-align:justify;">Reserva con nosotros en HOTEL BUCANEROS MEDIA LUNA para disfrutar de sus amenidades y las innovadoras unidades que son muy espaciosas y comodas. ¡Contáctanos para hacer tu reservación y descubre por qué brindamos la mejor atención de hotel.</p>

        <div class="row">
            <div id="info-contacto" class="col-md-6">
                <h2 style="text-align:center;">Datos de contacto</h2>
                <div><i class="bi bi-geo-alt-fill"></i> <p>Camino a la Media Luna, a bordo del Canal Km 7</p><br><p style="margin-left:4vh;">El Jabalí, Rioverde, S.L.P.</p></div>
                <div><i class="bi bi-alarm-fill"></i> <p>Horario de Operación:</p><br><p style="margin-left:4vh;">7:00 a.m. - 11:00 p.m.</p><br><p style="margin-left:4vh;">Lunes – Domingo</p></div>
                <div><i class="bi bi-telephone-fill"></i><p> Reservaciones:</p><br> <p style="margin-left:4vh;">+52 (487) 101 - 1605 </p></div>
            </div>

            <div id="info-whatsapp" class="col-md-6">
                <h2 style="text-align:center;">Envíanos un mensaje via whatsapp</h2>
                <a class="btn btn-primary" href="https://wa.me/+524871011605" target="blank"><i class="bi bi-whatsapp"></i> Contáctanos</a>
            </div>
            
        </div>

    </div>

</body>

{% endblock %}