{% extends 'includes/base.html' %}

{% load static %}

{%block title%} Hotel Bucaneros Media Luna {% endblock %}

{% block content %}

<body>
    
    <div class="home_faqs_faqs">
    
        <h1 class="text_faqs">PREGUNTAS FRECUENTES</h1>
    </div>

    <div class="faqs_info">
        <h1>PREGUNTAS FRECUENTES SOBRE HOTEL BUCANEROS MEDIA LUNA</h1>

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h2>CHECK IN / CHECK OUT</h2>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>El horario de check in es a las 3:00 pm y el de check out es a las 12:00 pm. Podemos guardar
                            su equipaje si
                            llega o se va fuera de esos tiempos.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h2>BALANCE SOBRE SU HABITACIÓN</h2>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>El balance del costo de su habitación estará listo a su llegada. Aceptamos pesos mexicanos,
                            dólares
                            estadounidenses, euros, Visa, Master Card y American Express. Por favor tenga en cuenta que
                            NO aceptamos
                            ningún cheque de viajero.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h2>CAJEROS AUTOMÁTICOS</h2>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>Los cajeros automáticos están ubicados en la ciudad de Rioverde en BBVA, Banamex, Santander,
                            Banorte que
                            proveen pesos mexicanos.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <h2>SEGURO DE VIAJES</h2>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>Recomendamos que todos nuestros huéspedes adquieran un seguro de viajes, que generalmente no
                            tiene un costo
                            muy elevado, pero realmente puede ahorrar mucho estrés emocional.
                            El seguro puede pagar por eventos imprevistos que pueden ocurrir antes o durante su estadía.
                            Puede cubrir
                            gastos médicos y evacuaciones, cancelaciones de viaje y más. Pregunta a tu agente de viajes,
                            compañía de
                            tarjeta de crédito o cómpralo directamente con tu compañía de seguros preferida.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingfive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                        <h2>DINERO</h2>
                    </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>En Rioverde (y en casi todo México), el efectivo es la forma de pago más común. Los pesos
                            mexicanos y los
                            dólares estadounidenses se aceptan en todos lados, sin embargo se recomienda cargar
                            denominaciones pequeñas
                            de dinero debido a que algunos negocios locales pueden quedarse sin cambio.
                            Cada vez se está volviendo más común que los Cheques de Viajero no se acepten en el área
                            debido a ciertos
                            casos recientes de fraude. Algunos bancos aún aceptan cheques de viajero de American Express
                            y aquí es donde
                            puedes obtener la mejor tarifa de cambio, sin embargo, debe estar preparado para una larga
                            espera en la fila
                            del banco. Es más fácil retirar dinero en efectivo de un cajero automático en el lugar donde
                            esté viajando y
                            así obtener una buena tarifa de cambio. Por favor tenga en cuenta que hay un límite diario
                            para retirar
                            efectivo de un cajero automático, y es de $5,000 pesos. Las tarjetas de crédito no se
                            aceptan de forma
                            generalizada en el área.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingsix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                        <h2>CAJEROS AUTOMÁTICOS</h2>
                    </button>
                </h2>
                <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>Los cajeros automáticos están ubicados en la ciudad de Rioverde en BBVA, Banamex, Santander,
                            Banorte que
                            proveen pesos mexicanos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock %}