{% extends 'includes/base.html' %}

{% load static %}

{%block title%} Hotel Bucaneros Media Luna {% endblock %}

{% block content %}

<body>
    
    <div class="home_reservaciones">
    
        <h1 class="text_faqs">Reservaciones</h1>
    </div>

    <div class="faqs_info">
        <h2 style="text-align:center; margin-top:5vh">RESERVE EN HOTEL BUCANEROS MEDIA LUNA</h1>

        <p style="text-align:justify;">Reserve con nosotros en HOTEL BUCANEROS MEDIA LUNA para disfrutar de sus amenidades y las innovadoras unidades que son muy espaciosas y comodas. ¡Contáctanos para hacer tu reservación y descubre por qué brindamos la mejor atención de hotel.</p>

        <div class="row">
            <div id="info-contacto" class="col-md-12">
                <h2 style="text-align:center; margin-bottom:5vh;">Pasos para reservar</h2>
                <ol style="list-style-type: decimal;">
                    <li>Elige la <a style="color:rgb(0, 0, 0);" href="habitaciones" target="blank"><i style="margin-right:0 !important" class="bi bi-house-fill"></i> habitación</a> de tu preferencia</li>
                    <li>Manda la fotografía de la habitación seleccionada a nuestro <a style="color:rgb(25, 187, 25);" href="https://wa.me/+524871011605" target="blank"><i style="margin-right:0 !important" class="bi bi-whatsapp"></i> whatsapp</a>.</li>
                    <li>Recibirás un mensaje verificando si está disponible la habitación seleccionada o en su caso te asignarán otra.</li>
                    <li>En caso de ser positivo su selección y disponibilidad, realizar un depósito del 20% en la cuenta Banamex de las fotografías que se te enviaron con la información del Hotel.</li>
                    <li>Enviar copia de la trasferencia por <a style="color:rgb(25, 187, 25);" href="https://wa.me/+524871011605" target="blank"><i style="margin-right:0 !important" class="bi bi-whatsapp"></i> whatsapp</a>, una vez confirmando tu anticipo recibirás un mensaje de confirmación.</li>
                </ol>
            </div>
            
        </div>

    </div>


</body>

{% endblock %}