{% load static %}

<footer>
    <div class="hstack row bg-light text-center m-0">
        <div class="col-4 container-fluid ">
            <img class="img-footer" src="{% static 'home/img/bucaneros_logo.png' %}" alt="" class="img-fluid rounded" height=""/>
        </div>
        <div class="col-4 container-fluid">
            <h6 class="lead"><strong>Conocenos</strong></h6>
            <p class="">
                <small>Camino a la Media Luna, a bordo del Canal Km 10, Rioverde, S.L.P.</small>
                <small>Tel. 487 101 1626</small><br>
            <smal>Redes sociales: </smal>
            </p>
        </div>
        <div class="col-4 container-fluid">
            <h6 class="lead"><strong>Mas Información</strong></h6>
            <p class="">
                <small>Preguntas Frecuentes</small><br>
                <small>Reservación</small><br>
                <small>Habitaciones</small>
            </p>
        </div>
    </div>
</footer>